*{
    margin: 0px;
}
#root{
    min-height: 100vh;
}

.all-chats::-webkit-scrollbar{
    display: none;
}

main::-webkit-scrollbar{
    display: none;
}
.answer::-webkit-scrollbar{
    display: none;
}

.question::-webkit-scrollbar{
    display: none;
}
nav::-webkit-scrollbar{
    display: none;
}


input:focus{
    outline: none;
}

main{
    border-radius: 10px;
}

body{
    position: relative;
    background-color: rgb(0, 0, 0);
}

.main{
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.878);
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.section{
    min-height: 100vh;
    max-width: calc(100vw - 340px);
    background-color: rgb(0 0 0);
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
    margin-left: 340px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container{
    height: 100vh;
    width: 60%;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas: 
    "main"
    "search";
}




.search{
    grid-area: 'search';
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: clamp(16px, 1.2vw,20px);
    border: 0px;
    background-color: rgb(255 255 255);
}

.inputs input,h2,form button,.password{
    animation-name: popup;
    animation-duration: 0.8s;

}
strong,.answer h3,li ,p{
    margin: 10px 0px;
    animation-name: popup;
    animation-duration: 0.8s;
}
@keyframes popup {
    0%{
        opacity: 0;
        scale: 1.1;
    }
    100%{
        opacity: 1;
        scale: 1;
    }    
}



.heading{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h2{
    padding: 10px 0px;
    font-size: clamp(25px,2vw,50px );
    color: rgb(255 255 255);
}

.searches{
    height: 40px;
    width: 40px;
    background-image: url(../images/svg/navigation.svg);
    background-position: center;
    background-size: contain;
    display: none;
}





main {
    overflow: hidden;
    overflow-y: scroll;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question{
    margin: 10px 0px;
    color: #000000;
    display: none;
}
h4{
    display: inline-block;
}
.question{
    min-height: auto;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: clamp(16px,1.2em,20px);
    background-color: rgb(255 255 255);
}
nav a{
    text-decoration: none;
    color: white;
    font-size: clamp(25px, 2vw, 50px);
}

.logout-btn{
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}


.all-chats{
    height: calc(100% - 80px);
    overflow: scroll;
}
.answer{
    min-height: auto;
    background-color: rgb(0 0 0);
    color: #ffffff;
    /* border: 1px solid white; */
    border-radius: 10px;
    font-size: clamp(16px,1.2em,20px);
    overflow-x: scroll;
    display: flex;
    align-items: center;
    display: none;
}

nav{
    height: 100vh;
    width: 300px;
    position: fixed;
    border-right: 1px solid #616161;
    padding: 20px;
    z-index: 2;
    background-color: rgb(0 0 0);
}
nav{
    animation-name: slide;
    animation-duration: 0.7s;
    }
    @keyframes slide {
        0% {
            transform: translateX(-100%); /* Start off-screen */
        }
        100% {
            transform: translateX(0); /* Slide into position */
        }
    }


.logout h2{
    color: white;
    visibility:hidden;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.box{
    padding: 10px 15px;
    height: 75px;
    width: 100%;
    background-color: rgb(219 219 219);
    border-radius: 10px;
    margin:  10px  0px;
    overflow:hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.items{
    padding: 20px;
}

.query{
    font-weight: 600;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-size: clamp(18px, 1.5vw,25px);
    color: #000000;
}


/* forms start */
    .register{
        width: 50%;
        padding: 30px;
        border-radius: 5px;
    }

    .contain{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid grey;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        background-color: #ddd;
        animation-name: bottomup;
        animation-duration: 0.8s;
    }
    @keyframes bottomup {
        0% {
            transform: translateY(100%); /* Start off-screen */
        }
        100% {
            transform: translateY(0); /* Slide into position */
        }
    }

    .inputs{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    .inputs input{
        height: 40px;
        width: 100%;
        padding: 10px 15px;
        border-radius: 10px;
        margin: 8px 0px;
        font-size: clamp(18px,1.2vw,25px);
        font-weight: 600;
        border: 0px;
    }

    .register h2{
        font-size: clamp(30px,4vw,60px);
        color: rgb(0, 0, 0);
    }

    .register button{
        font-size: clamp(16px,2vw,30px);
        font-weight: 600;
        color: white;
        background-color: black;
        border: 0px;
        width: 100%;
        padding: 20px 0px;
        border-radius: 10px;
    }

    .acc{
        padding-bottom: 20px;
    }
    .acc a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin-bottom: 8px;
        font-size: clamp(16px,1.3vw,25px);
    }
    .contain button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #password
    {
        margin: 0px;
        padding: 0px;
        animation: normal;
    }

    .password{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white; padding: 10px 15px ;
        margin: 8px 0px;
        border-radius: 10px;
    }
    
    .show{
        height: 40px;
        width: 40px;
        background-image: url(../images/svg/eye.svg);
        background-position: center;
        background-size: contain;
       
        
    }


/* form end */

header,.logout{
    width: calc(100% - 380.8px);
    margin-left:340.8px ;
    height: 60px;
    padding: 20px;
}

@media screen and (max-width:800px){
    .container{
        width: 100%;
    }
    .logout{
        width: calc(100vw - 40px);
        margin: 0px;
    }
    header .buttons a{
        padding: 10px 15px;
        margin: 5px;
    }
    .section{
        max-width: 100%;
        margin: 0px;
    }

    nav{
        display: none;
    }

    .heading{
        position: sticky;
    }
    main{
        background-color: transparent;
    }

    .heading h2{
        padding: 10px 0px;
    }
    button{
        padding: 18px 5px;
        margin: 5px;
    }
    .searches{
        display: block;
    }
    nav{
    animation-name: slide;
    animation-duration: 0.7s;
    }
    @keyframes slide {
        0% {
            transform: translateX(-100%); /* Start off-screen */
        }
        100% {
            transform: translateX(0); /* Slide into position */
        }
    }

    .active{
        animation-name: slideout;
        animation-duration: 0.7s;
    }
    @keyframes slideout {
        0% {
            transform: translateX(0); /* Start off-screen */
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;            
        }
    }


    .register{
        height: 100%;
        width:calc(100% - 100px) ;
    }
}
@media screen and (max-width:1000px){
    .container{
        width: 90%;
    }
    .register{
        width: 60%;
    }
    
}

.answer p{
    font-size: 18px;
}


hr{
    margin-bottom: 10px;
}



.contain button{
        display: flex;
        align-items: center;
        justify-content: center;
    }

.buttons a,.logout a{
    font-size: clamp(18px,1.2vw,25px);
    text-decoration: none;
    /* margin: 10px; */
    color: white;
    font-weight: 600;
    background-color: black;
    /* padding: 15px 20px; */
    border-radius: 10px;
}

.sm-fun{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:500px) {
    .main .register{
        width:calc(100%);
        padding: 0px;
    }

    nav{
        width: 70%;
    }
    .search input{
        height: 45px;
    }

   
}


.sm-button {
    position: relative;
    display: inline-block; /* Make it display inline for better flow */
  }
  
  .sm-button .lists {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1; /* Ensure dropdown is above other elements */
  }
  
  .sm-button:hover .lists {
    display: block; /* Show the list on hover */
  }
  
  .sm-button a {
    display: block; 
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
  }
  
  .sm-button a:hover {
    background-color: #f1f1f1;
  }

  header{
    border-bottom: 1px solid rgb(139, 137, 137);
  }
