*{
    margin: 0px;
}

.answer::-webkit-scrollbar{
    display: none;
}

main::-webkit-scrollbar{
    display: none;
}

.question::-webkit-scrollbar{
    display: none;
}


input:focus{
    outline: none;
}

main{
    border-radius: 10px;
}


section{
    min-height: 100vh;
    max-width: 100%;
    background-color: rgb(36, 36, 36);
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container{
    height: 100vh;
    width: 60%;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas: 
    "main",
    "search";
}



main{
    grid-area: 'main';
}

.search{
    grid-area: 'search';
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: clamp(16px, 1.2vw,20px);
    border: 0px;
    background-color: rgb(246, 246, 246);
}

.heading h2{
    padding: 5px 0px;
    font-size: clamp(25px,2vw,50px );
    color: rgb(236, 236, 236);
}

main {
    padding:0px 60px;
    overflow: hidden;
    overflow-y: scroll;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question{
    margin: 10px 0px;
    color: white;
    border: 1px solid white;
    display: none;
    
}
h4{
    display: inline-block;
}
.question{
    min-height: auto;
    padding: 20px;
    overflow: scroll;
    border-radius: 30px;
    font-size: clamp(16px,1.2em,20px);
    background-color: rgb(96, 96, 96);
}
.answer{
    min-height: auto;
    background-color: rgb(96, 96, 96);
    padding: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: clamp(16px,1.2em,20px);
    overflow-x: scroll;
    display: flex;
    align-items: center;
    display: none;
}

button{
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    font-size: clamp(20px, 1.5vw,25px);
    font-weight: 600;
    border: 0px;
}


@media screen and (max-width:800px){
    .container{
        width: 100%;
        height: 90%;
    }

    .heading{
        position: sticky;
    }
    main{
        padding: 0px 30px;
        background-color: transparent;
    }

    .heading h2{
        padding: 0px;
    }
    button{
        padding: 18px 5px;
        margin: 5px;
    }

}